[Unit]
Description=Synergy Client Daemon
After=network.target

[Service]
ExecStart=/usr/bin/synergyc --enable-crypto --no-daemon silmaria.lan
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
